* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #269;
    color: white;
}

div#controlAddIn {
    padding: 1em;
}

#controlAddIn img {
    opacity: 0.5;
    transition: all 150ms ease-in-out;
}
#controlAddIn  img:hover {
    opacity: 1;
    cursor: default;
}